.left-menu{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    background-color: #9dc9f4;
    margin-top: 2px;
    cursor: pointer;
}

.left-menu:hover{
    background-color: #add1f5;
}